<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %p %c{1}: %m%n</pattern>
        </encoder>
    </appender>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${catalina.base}/logs/nwql/nwql-spikelot-ws.log</File>
        <encoder>
            <pattern>%d{HH:mm:ss} %p %c{1}: %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/nwql/nwql-spikelot-ws.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <timeBasedFileNamingAndTriggeringPolicy
            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <maxFileSize>100MB</maxFileSize>
        </timeBasedFileNamingAndTriggeringPolicy>

    </appender>
    
    <root level="ERROR">
        <appender-ref ref="stdout"/>
        <appender-ref ref="file"/>
    </root>
    
    <logger name="org.mybatis" level="ERROR" />
    <logger name="java.sql" level="ERROR" />
    <logger name="gov.usgs.wma.nwql.spikelot" level="ERROR" />
    <logger name="gov.usgs.wma.nwql" level="ERROR" />
    <logger name="org.eclipseorg.eclipse" level="ERROR" />
    <logger name="org.apache.catalina.core.ContainerBase" level="ERROR" />
    <logger name="org.apache.http.wire" level="WARN" />
</configuration>